*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    font-family: system-ui;
}
.container{
    width: 100%;
    margin: auto;
    transition: 0.5s;
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    width: 1180px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    gap: 35px;
    margin-top: 90px;
    position: relative;
}
.list .item{
     background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 12%);
    gap: 17.5px;
    position: relative;
}
.list .item h1{
    font-weight: 500;
    font-size: large;
}
.list .item img{
    width: 95%;
    height: 300px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
    height: 50px;
}
.list .item .price{
    margin: 10px;
    margin-bottom: 60px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 19px;
    bottom: 0;
    position: absolute; 
}
.list .item button:hover{
    background-color:#1172c2;
}
.card{
    z-index: 1000;
    position: fixed;
    top:0;
    left: 100%;
    width: 400px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 400px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #5aacef;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #5aacef;
}


.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}
img{
    vertical-align: middle;
}
.header .logo img{
    left: 10px;
}
.header .navbar li a.active1{ 
    color: #5aacef
}
.navbar{
    display: flex;
    align-items: center;
    padding: 5px; 
}
.logo{
    height: auto;
    width: 99px;
    margin-left: 50px;
}
.stiky{
    display: flex;
    justify-content: space-between;
}

.header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header .top-nav{
    display: flex;
    margin-right: 10px;
}
.header nav ul{
    text-decoration: none;
    display: flex;
    list-style: none;
}
.header .top-icons{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.header .top-icons i{
    padding: 17px;
}
.header .navbar a{

    margin: 0 1rem;
    font-size: 1.0rem;
    color: #fff;
}
.header .navbar ul li a {
    padding: 17px;
}
.header .top-nav .navbar ul li a:hover{
    color: #5aacef;
}
.header .top-nav .top-icons i:hover{
    color: #5aacef;
}

a{
    text-decoration: none;

}
.header .stiky .top-nav .top-icons .icon-cart span{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 15px;
}
.bar-search{
    position: fixed;
    top: -100;
    left: 0;
    width: 100%;
    background: rgba(92, 88, 88, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    width: 100%;
    height: 100%;
}
.bar-search.active{
    top: 0;
}

.bar-search .box #form-close{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}
#form-close #cp{
    background-color: #f9fbff;
    color: #121316;
    font-size: 30px;
}
#form-close #cp:hover{
    color: #5aacef;
}

.tout{
    background-color: #edf0f3;
}

.bar-search input{
    width: 80%;
    padding: 15px;
    border-radius: 15px;

}

.bar-search #close{
    background-color: #f9fbff;
    color: #121316;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 5px;
}
.bar-search .box{
    display: flex;
    justify-content: center;
     align-items: center;
   height:200px;
   width: 500px;
    position: relative;
    background-color: #f9fbff;
    color: #121316;
    border-radius: 7px;
}
.profil{
    position: fixed;
    top: 99px; /* Définir uniquement cette valeur */
    right: 0px;
    background-color: #fff;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    border: 1.9px solid black;
}
.profil.active{
    display: flex;
}
.profil img{
    height: 30px;
    width: 30px;
    background-color: #fff;
}
.profil h1{
    background-color: #fff;
    color: black;
    margin-bottom: 30px;
    font-weight: 300;
}
.profil ul li a{
    background-color: #fff;
    color: black;
    cursor: pointer;
    margin: 6px;

}
.profil ul li{
    background-color: #fff;
}
.banner{
    position: relative;
}
.banner img{
    width:100%;
    border-radius: 30px;
    box-shadow: 0 20px 50px #b5b5b5;
}
.banner .content{
    position: absolute;
    top:50%;
    left:30px;
    color:#fff;
    transform: translate(0,-50%);
}
.banner .title{
    color:#FAB259;
    font-size: xxx-large;
    font-weight: bold;
    text-shadow:  0 0 5px #000;
}
.banner .add{
    background-color: #FF6652;
    margin-top:10px;
    border-radius: 30px;
    border:none;
    padding:10px 40px;
    color:#fff;
}
.banner{
    position: relative;
    padding-left: 5%;
  
  
}
.banner img{
    width:95%;
    border-radius: 30px;
    box-shadow: 0 20px 50px #b5b5b5;
    
    
}
.banner .content{
    position: absolute;
    top:50%;
    left:30px;
    color:#fff;
    transform: translate(0,-50%);
    padding-left: 10%;
    
}
.banner .title{
    color:#FAB259;
    font-size: xxx-large;
    font-weight: bold;
    text-shadow:  0 0 5px #000;
 
   
}
.banner .add{
    background-color: #FF6652;
    margin-top:10px;
    border-radius: 30px;
    border:none;
    padding:10px 40px;
    color:#fff;
}
/* Style pour le menu déroulant */
.page_menu_item.has-children:hover .page_menu_selection {
    display: block;
}

/* Style pour cacher la liste par défaut */
.page_menu_selection {
    display: none;
    position: absolute;
    background-color: #000000; /* Couleur de fond */
    padding: 10px; /* Espacement intérieur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
}

/* Style pour chaque élément de la liste */
.page_menu_selection li {
    margin-bottom: 30px; /* Espacement entre les éléments */
    
}

/* Style pour l'icône "fa-angle-down" */
.fa-angle-down {
    padding-left: 5px;
    transition: transform 0.3s; /* Animation de la rotation */
}

/* Style pour l'icône "fa-angle-down" lorsque les catégories sont affichées */
.page_menu_item.has-children.active .fa-angle-down {
    transform: rotate(180deg); /* Rotation de 180 degrés */
}
/* Style pour la section de tri */
.d-flex {
    display: flex;
    flex-direction: row;
}

.text-muted {
    color: #6c757d; /* Couleur du texte en gris */
    
}

.m-2 {
    margin: 0.5rem; /* Marge de 0.5rem */
    margin-top: 50px; /* Décalage vers le bas de 20px */
}

.ml-auto {
    margin-left: auto; /* Marge à gauche automatique */

}

.mr-lg-4 {
    margin-right: 1.5rem; /* Marge de 1.5rem sur les grands écrans */
}

.border {
    border: 1px solid #dee2e6; /* Bordure de 1px solide en gris clair */
    margin-top: 20px; /* Décalage vers le bas de 20px */
}

.rounded {
    border-radius: 0.25rem; /* Coins arrondis de 0.25rem */
    
}

.p-1 {
    padding: 0.25rem; /* Rembourrage de 0.25rem */
    margin-top: 40px; /* Décalage vers le bas de 20px */
}

#sorting select {
    border: 1px solid #000000; /* Bordure de 1px solide en gris */
    border-radius: 0.25rem; /* Coins arrondis de 0.25rem */
    padding: 0.375rem 0.75rem; /* Rembourrage de 0.375rem en haut et en bas, 0.75rem à gauche et à droite */
    font-size: 1rem; /* Taille de police de 1rem */
    line-height: 1.5; /* Hauteur de ligne de 1.5 */
    background-color: #fcfcfc; /* Couleur d'arrière-plan en blanc */
    background-image: none; /* Pas d'image d'arrière-plan */
    appearance: none; /* Ne pas afficher l'apparence native du sélecteur */
    cursor: pointer; /* Curseur de type pointer */
    
}

#sorting select:hover {
    border-color: #0000ff; /* Bordure de survol en gris plus foncé */
    
}

#sorting select:focus {
    border-color: #007bff; /* Bordure de mise au point en bleu */
    box-shadow: 0 0 0 0.2rem rgba(212, 213, 215, 0.25); /* Ombre de boîte de mise au point en bleu */
}
.price-filter {
    margin-bottom: 20px;
    color: white;
  }
  
  #priceValue {
    display: inline-block;
    margin-left: 10px;
    width: 50px;
  }
  
  #apply-filter {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #apply-filter:hover {
    background-color: #0056b3;
  }
  .filter-content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #e0e0e0;
    max-width: 500px;
}

/* Style du range */
.custom-range {
    width: 100%;
    height: 1px; /* Hauteur de la ligne du range */
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ddd; /* Couleur de fond du range */
    border: none;
    border-radius: 5px;
}

/* Style des étiquettes Min et Max */
label {
    font-weight: bold;
}

/* Style des champs de saisie */
.form-control {
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

/* Style du bouton */
.highlight-button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.highlight-button:hover {
    background-color: #0056b3;
}
.form-row {
    display: flex;
    justify-content: space-between;
}
.total{
    color: white;
    position: relative;
    margin-top: 30px;
}
.prixtotal{
    position: fixed;
    bottom: 70px;
}